apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-demo
  namespace: nginx 
spec:
  project: default

  source:
    repoURL: https://github.com/sonalmallah12/argo-app.git
    targetRevision: main
    path: app

  destination:
    server: https://kubernetes.default.svc
    namespace: nginx-demo

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true

